{% extends 'demo/base.html' %}
{% load static %}
{% block content %}

<div class="login">
       
    <div class="row">
        <div class="col-sm-6">
            <img src="{% static 'images\signup.png' %}">
        </div>
        <div class="col-sm-6">
            <form class="form">
                <label for="name">Name:</label>
                <input type="name" class="form-control" id="name" placeholder="Enter name" name="name"></br>
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email" name="email"></br>
                <label for="pwd">Password:</label>
                <input type="pwd" class="form-control" id="pwd" placeholder="Enter password" name="pwd"></br>
                <label for="cpwd">Confirm Password:</label>
                <input type="cpwd" class="form-control" id="cpwd" placeholder="Confirm password" name="cpwd">
            <a class="button" href="#">
                <button type="button" class="btn btn-lg" style="color: #fff; font-size: 20px;">SignUp</button>
            </a> 
            <p>Already Registered?</p> 
            <a class="button-login" href="#">
                <button type="button" class="btn btn-lg" style="color: #fff; font-size: 20px;">Login</button>
            </a>   
            </form>
        </div>

    </div>

</div>
{% endblock %}