{% extends 'demo/base.html' %}
{% load static %}
{% block content %}
<div class="dashboard">
    <div class="wrapper">
        <div class="row">
            <div class="col-sm-4">
                <div class="sidebar">
                    
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="section1">
                                <img src="{% static 'images/human.svg' %}" class="sec-img" style="margin: 5px 5px;">
                                <p class="text-sidebar" style="color: #fff; font-size: 30px; margin-left: 95px; margin-top: -71px;">Andy</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="row">
                            <div class="section2">
                                <img src="{% static 'images/human.svg' %}" class="sec-img" style="margin: 5px 5px;">
                                <p class="text-sidebar" style="color: #fff; font-size: 30px; margin-left: 95px; margin-top: -71px;">Andy</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="row">
                            <div class="section3">
                                <img src="{% static 'images/human.svg' %}" class="sec-img" style="margin: 5px 5px;">
                                <p class="text-sidebar" style="color: #fff; font-size: 30px; margin-left: 95px; margin-top: -71px;">Andy</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="row">
                            <div class="section4">
                                <img src="{% static 'images/human.svg' %}" class="sec-img" style="margin: 5px 5px;">
                                <p class="text-sidebar" style="color: #fff; font-size: 30px; margin-left: 95px; margin-top: -71px;">Andy</p>
                            </div>
                        </div>
                    </div>

                   

                </div>
            </div>
            <div class="col-sm-8">
                <div class="search-bar">
                <input type="text" placeholder="Search..">
                
                

                

                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-4">
                            <iframe width="250" height="250" src="https://www.youtube.com/embed/vE6xHY2dHJM" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>

                        <div class="col-sm-4">
                            <iframe width="250" height="250" src="https://www.youtube.com/embed/vE6xHY2dHJM" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        
                        <div class="col-sm-4">
                            <iframe width="250" height="250" src="https://www.youtube.com/embed/vE6xHY2dHJM" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div> 

                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-4">
                            <iframe width="250" height="250" src="https://www.youtube.com/embed/vE6xHY2dHJM" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>

                        <div class="col-sm-4">
                            <iframe width="250" height="250" src="https://www.youtube.com/embed/vE6xHY2dHJM" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        
                        <div class="col-sm-4">
                            <iframe width="250" height="250" src="https://www.youtube.com/embed/vE6xHY2dHJM" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div> 

                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-4">
                            <iframe width="250" height="250" src="https://www.youtube.com/embed/vE6xHY2dHJM" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>

                        <div class="col-sm-4">
                            <iframe width="250" height="250" src="https://www.youtube.com/embed/vE6xHY2dHJM" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        
                        <div class="col-sm-4">
                            <iframe width="250" height="250" src="https://www.youtube.com/embed/vE6xHY2dHJM" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div> 
                
                                 
            
            </div>
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="row">
                    <img src="{% static 'images/home 1.svg' %}" alt="home" style="margin: 10px 10px;">
                    <a href="#">
                        <p>Home</p>
                    </a>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="row">
                    <img src="{% static 'images/paid 1.svg' %}" alt="home" style="margin: 10px 10px;">
                    <p>Home</p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="row">
                    <img src="{% static 'images/creator 1.svg' %}" alt="home" style="margin: 10px 10px;">
                    <p>Home</p>
                </div>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}